html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 60px 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
	padding-top: 20px;
}

select {
    background-color: white;
}

.form-inline select[size].form-control {
	height: 34px;
}

#inputEmail {
	height: 46px;
}

#inputPassword {
	height: 46px;
}

tr.course-row-even {
	background-color: #f9f9f9;
}

table.course-table {
	table-layout: fixed;
}

table.course-table tr th:nth-of-type(1) {
	width: 20%;
}

table.course-table tr th:nth-of-type(5) {
	width: 5%;
}

table.course-table tr th:nth-of-type(6) {
	width: 7%;
}

.add-areas, .add-units, .toggle-table {
	margin-top: 10px;
    margin-bottom: 25px;
}

#add-areas-form, #add-units-form {
	padding: 20px 20px 10px 20px;
}

#add-areas-form\:areas, #add-units-form\:units {
	padding-bottom: 20px;
}

#add-areas-form\:areas .checkboxes td,
#add-units-form\:units .checkboxes td {
	display: table;
}

#add-areas-form\:areas .checkboxes td input[type=checkbox],
#add-units-form\:units .checkboxes td input[type=checkbox] {
	display: table-cell;
}

#add-areas-form\:areas .checkboxes td label,
#add-units-form\:units .checkboxes td label {
	display: table-cell;
	font-weight: normal;
	padding-left: 10px;
	padding-bottom: 3px;
}

#description-form {
	padding-top: 30px;
}

.area-description-button:hover {
	text-decoration: none;
}

#add-areas-form .input-row,
#add-topics-outcomes-form .input-row {
	display: table;
}

#add-areas-form .input-row input,
#add-areas-form .input-row span,
#add-topics-outcomes-form .input-row input,
#add-topics-outcomes-form .input-row span {
	display: table-cell;
	padding-left: 8px;
}

#add-topics-outcomes-form .input-row a {
	display: table-cell;
	padding-left: 2px;
}

#tierModal .modal-content .modal-body {
	max-height: 500px;
	overflow-y: scroll;
}

.unit-hours label {
	text-align: right;
	padding-top: 4px;
}

.unit-hours input {
	width: 50px;
}

#areaDescriptionModal .modal-body {
    max-height: 500px;
	overflow-y: scroll;
}

.bnt-remove-area {
	margin-top: 10px;
}
.bnt-remove-area:hover {
	margin-top: 11px;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd !important;
}

.objective-table {
	margin-top: 10px;
	table-layout: fixed;
}

.objective-table th:nth-of-type(2), 
.objective-table td:nth-of-type(2) {
	width: 15%;
}

.objective-table textearea {
	resize: none;
}

#description-form input.checkbox {
	margin-top: 12px;
}

.unit-table {
	table-layout: fixed;
}

.unit-table th:first-of-type {
	width: 38%;
}

.unit-table th:nth-of-type(4) {
	width: 5%;
}

.unit-table th:last-of-type {
	width: 7%;
}

.users-table {
	table-layout: fixed;
}

.users-table th:last-of-type {
	width: 10%;
}

.page-header-button-div {
	margin-top: 25px;
}

li:not(.active) > .objectives-tab-alert {
	background-color: #ff4136 !important;
    border-color: #ff1103 !important;
    color: #ffffff !important;
}

.percentage-column-alert {
	background-color: #ff4136 !important;
    border-color: #ff1103 !important;
    color: #ffffff !important;
}

.yes-no-select {
	margin-top: 9px;
    border: 1px solid #e7e7e7;
}

.bold {
	font-weight: bold;
}

.pre-wrap {
	white-space: pre-wrap;
}

.pre-wrap:empty {
	white-space: normal;
}

.error-block {
	margin-top: 30px;
}

.margin-left {
	margin-left: 5px;
}

#course-list > .course-table {
	margin-top: 10px;
}

#course-list > .course-table th:first-of-type {
	width: 50%;
}
#course-list > .course-table th:last-of-type {
	width: 200px;
}

#course-modal\:owner {
    margin-top: 6px;
}

#curricula-table > tbody > tr > td:last-of-type {
	width: 18%;
	text-align: center;
}

.vertical {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#curriculum-summary-table {
	overflow: hidden;
	table-layout: fixed;
}

#curriculum-summary-table th {
	font-weight: normal;
	background-color: #f5f5f5;
    vertical-align: top;
}

#curriculum-summary-table th,
#curriculum-summary-table td {
	text-align: center;
}

#curriculum-summary-table  tr:hover {
  background-color: #ffa;
}

#curriculum-summary-table td, 
#curriculum-summary-table th {
  position: relative;
}
#curriculum-summary-table th:hover::after,
#curriculum-summary-table td:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

#curriculum-summary-table > thead > tr:first-of-type > th:nth-of-type(2) {
	font-weight: bold;
	width: 220px;
}

#home-title h1,
#home-title h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}


#filedrag
{
	border: 2px dashed #3498db;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	height: 115px;
	color: #bdc3c7;
	font-size: 200%;
	border-radius: 7px;
	cursor: default;
}
.inputbox input{
	display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.selectorFilter{
	width:250px; 
	max-width:100%;
}
